
.container {
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 480px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.img {
 
    border-radius: 10px;
    width: 240px; 
    background-color: #FDFDFD;
    border-radius: 50px;
    
    margin: auto;

}

img {
    width: 240px;
    border-radius: 10px;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 240px;
    height: 30px;
}

button:hover {
    background-color: rgb(67, 66, 66);
}

.content {
    margin: auto;
    width: 240px;
}

small {
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 5px;
}